{% load static %}
<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>IKOMET Assignment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/jquery_confirm.css' %}">
</head>

<body ng-controller="quote_controller">
  <forn name='nyForm'>
   <div class="row bg-white mx-1 p-3 box_color">
   
      <div class="col-md-12 px-0">
         <div class="card">
            <div class="card-header card-header-primary ">
               <h5 class="card-title float-left mb-0">Add Quotes </h5>
               <button type="button" style="border:0">
                  <i class="fa fa-bars text-dg" aria-hidden="true"></i>
                </button> 
            </div>
            

            <div class="card-body">
              <div class="row">
                  <div class="col-lg-4">
                     <div class="form-group">
                        <span for="month_name" class="font-weight-bold">Quote Date :</span>
                        <input type="text" class="form-control"   name="quote_date" ng-model="user.quote_date"  ng-init="user.quote_date='{{get_current_date_value}} {{get_current_time_value}}'"   readonly>


                     </div>
                  </div>
                   <div class="col-lg-4">
                     <div class="form-group">
                        <span for="month_name" class="font-weight-bold">Quote Number :</span>
                        <input type="text" class="form-control"  placeholder="Quote Number" name="quote_number" ng-model="user.quote_number"  ng-init="user.quote_number=''" ng-blur="validation('quote_number',user.quote_number);get_data_quote_number(user.quote_number,user)" onkeyup="onlynumbers(this)">
                        <p ng-messages="myForm.quote_number.$error" style="color:red;font-size:12px;text-transform:none!important" role="alert"   class="mb-0">
                           <%quote_number_err%>
                        </p>

                        
                     </div>
                  </div>
                   <div class="col-lg-4" style="background-color:grey">
                     <div class="form-group">
                        <h6 class="pt-2">Quote Summary at a Glance</h6>
                        <p>Total Part:<input type="text" id="total_part" ng-model="user.total_part"  ng-init="user.total_part='0'" readonly></p>

                        <p>GST:<input type="text" id="gst_cal" ng-model="user.total_gst_calculate"  ng-init="user.total_gst_calculate='0'"  readonly></p>

                        <p>Total W/Tax:<input type="text" id="total_cal" ng-model="user.total_tax_calculate"  ng-init="user.total_tax_calculate='0'"  readonly></p>
                        
                     </div>

                  </div>
              
              </div>
            </div>

             <div class="card-body">
              <div class="row">
                  
                   <div class="col-lg-4">
                     <div class="form-group">
                        <span for="month_name" class="font-weight-bold">Customer Name :</span>
                        <input type="text" class="form-control"  placeholder="Customer Name" name="customer_name" ng-model="user.customer_name"  ng-init="user.customer_name=''" ng-blur="validation('customer_name',user.customer_name)" ng-keyup="user.customer_name=user.customer_name.toUpperCase()" onkeyup="onlyletters(this)">
                        <p ng-messages="myForm.customer_name.$error" style="color:red;font-size:12px;text-transform:none!important" role="alert"   class="mb-0">
                           <%customer_name_err%>
                        </p>
                        
                     </div>

                  </div>

                  <div class="col-lg-4">
                     <div class="form-group">
                        <span for="month_name" class="font-weight-bold">Sales Person :</span>
                        <input type="text" class="form-control"  placeholder="Sales Person" name="sales_person" ng-model="user.sales_person"  ng-init="user.sales_person=''" ng-blur="validation('sales_person',user.sales_person)" ng-keyup="user.sales_person=user.sales_person.toUpperCase()" onkeyup="onlyletters(this)">
                        <p ng-messages="myForm.sales_person.$error" style="color:red;font-size:12px;text-transform:none!important" role="alert"   class="mb-0">
                           <%sales_person_err%>
                        </p>
                        
                     </div>

                  </div>

                  <div class="col-lg-4">
                     <div class="form-group">
                        <span for="month_name" class="font-weight-bold">Quote Status:</span>
                        
                        <select name="month_names" id="quote_status" class="form-control select-height-on px-3 " ng-model="user.quote_status" ng-blur="validation('quote_status',user.quote_status)" ng-init="user.quote_status='0'"  >
                           <option value='0'>Select Quote Status</option>
                           {% for t in quote_status %}
                              <option value="{{ t.quote_keyword }}">
                                {{ t.quote_name }}
                             </option>
                           {% endfor %}
                        </select>

                        <p ng-messages="myForm.quote_status.$error" style="color:red;font-size:12px;text-transform:none!important" role="alert"   class="mb-0">
                           <%quote_status_err%>
                        </p>
                        
                     </div>

                  </div>
              
              </div>
            </div>


            <div class="card-body">
              <div class="row">
                  <div class=" table_structure col-12 table-responsive text-capitalize mt-6 box-shadow  p-lg-3 p-1 ">
                  

                     <table id="inactiveOverallPracticedDatatable" class="table  w-100  table-striped table-bordered table-sm table_update" cellspacing="0" >
                     <thead>
                        <tr>
                          <th class="th-sm">Part No.</th>
                            <th class="th-sm">Description</th>
                            <th class="th-sm">Qty</th>
                            <th class="th-sm">Cost</th>
                            <th class="th-sm">GST %</th>
                            <th class="th-sm">Total</th>
                            <th class="th-sm">Action</th>
                         </tr>
                       
                     </thead>
                     <tbody id="j">
                     
                    <input type="hidden" class="form-control"   name="total" ng-model="user.gst_calculate"  ng-init="user.gst_calculate=''"  onkeyup="onlynumbers(this)" readonly>

                    <input type="hidden" class="form-control"   name="total" ng-model="user.part_result_set"  ng-init="user.part_result_set=''"  >
                      <tr ng-repeat="user in table_values">
                        <td><select name="month_names" id="month_name" class="form-control select-height-on px-3 " ng-model="user.part_no" ng-init="user.part_no='0'" ng-blur="validation('part_no',user.part_no)" required>
                           <option value='0'>Select Part no.</option>
                          {% for t in get_part_data %}
                              <option value="{{ t.id }}">
                                {{ t.part_name }}
                             </option>
                           {% endfor %}
                            <span ng-messages="myForm.quote_status.$error" style="color:red;font-size:12px;text-transform:none!important" role="alert"   class="mb-0">
                           <%get_part_value_err%>
                        </span>
                        

                        </select></td>
                        <td><input type="text" class="form-control"   name="description" ng-model="user.description"  ng-init="user.description=''" required ></td>
                        
                        <td><input type="text" class="form-control"    ng-change="calculate_total_cost(user)" name="qty" ng-model="user.qty"  onkeyup="onlynumbers(this)" ng-init="user.qty=''" required ></td>

                        <td><input type="text" class="form-control"  ng-change="calculate_total_cost(user)" name="cost" ng-model="user.cost"  ng-init="user.cost=''" onkeyup="onlynumbers(this)" required></td>
                       
                        
                        <td><input type="text" class="form-control"  ng-change="calculate_total_cost(user)"  name="gst" ng-model="user.gst"  ng-init="user.gst='0'"  onkeyup="onlynumbers(this)" required></td>
                        <td><input type="text" class="form-control"   name="total" ng-model="user.total"  ng-init="user.total=''"   readonly required></td>
                        <td><button class="btn  btn-xs" data-target="#registerUserModal"  data-title="edit" data-toggle="modal" ng-click="removeRow($index)"><i class=" fa fa-trash"></i></button></td>


                        
                      </tr>
                     </tbody>

                  </table>
                  <div class="col-lg-12">
                     <button type="button" class="btn btn-warning  float-right" ng-click="submit_part_data_Details(user)">
                          Submit <div class="ripple-container"></div>
                           </button>
                  </div>
               </div>
              
              </div>

            </div>

          
             <div class="col-lg-12">
               <button type="button" class="btn btn-warning  " ng-click="add_dynamic_lines(user)">
                     Add Line <div class="ripple-container"></div>
                     </button>
             </div>

             
             
        </div>
   </div>
 </form>
</body>

   <script type="text/javascript" src="{% static 'js/jquery-latest.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
   <script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/angular-messages.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/jquery_confirm.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/search_index.js' %}"></script>
   <script>
    function onlynumbers(e) {
      var text1 = e;
      space_remover(e);
      var numregex = /[^0-9.]/gi;
      if (numregex.test(text1.value)) {
        text1.value = text1.value.replace(numregex, "");
      }
    }
    function space_remover(e) // space remover 
    {
      if(e.value.match(/\s/g)) {
        e.value = e.value.replace(/\s/g, '');
      }
    }
    function onlyletters(e) {
      var text1 = e;
      // space_remover(e);
      var reg = /[^a-z|^A-Z|^\s]/;
      if (reg.test(text1.value)) {
        text1.value = text1.value.replace(reg, "");
      }
    }
   </script>

</html>